<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAQg3huf-aVHIcFTnyoNz2hVarfpdRllo</string>
	<key>GCM_SENDER_ID</key>
	<string>229356390233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.meusimuladordeconsorcio.app</string>
	<key>PROJECT_ID</key>
	<string>simuladorconsortium</string>
	<key>STORAGE_BUCKET</key>
	<string>simuladorconsortium.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229356390233:ios:63d287ebcfafd6e83b6e48</string>
</dict>
</plist>